.Header {
  background: linear-gradient(
    90deg,
    var(--purple-500),
    var(--purple-300)
  );
  border-bottom: 1px solid var(--color-border);
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
}

.Title {
  font-size: 20px;
  font-weight: 600;
}

.Right {
  display: flex;
  align-items: center;
  gap: 12px;
}
